/* ============================================= */
/* ============= Default Code Mobile =========== */
/* ============================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "IBM Plex Mono", monospace, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

h2,
h4,
h5,
.article-wrapper,
footer {
  font-family: "IBM Plex Mono", monospace, sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

/* font-family: 'IBM Plex Mono', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

.title-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.search-box input {
  border-radius: 6px;
  padding: 4px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f2e6e6;
  padding: 0.4rem;
}

nav li {
  text-align: center;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  color: #191919;
}

.hero {
  background-image: url("../images/moon.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  color: #fff;
  padding: 20px;
  max-width: 800px;
}
.hero-content p:nth-of-type(1) {
  font-size: 2rem;
  padding: 0.5rem;
}
.hero-content p:nth-of-type(2) {
  font-size: 0.8rem;
  padding: 0.5rem;
}

.article-wrapper > h3 {
  text-align: center;
  color: #4a4a4a;
  letter-spacing: 2px;
  margin-top: 2rem;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 1px;
}

article {
  margin-top: 2rem;
}

.editors-pick > img {
  /* max-height: 405px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: bottom; */
  object-fit: cover;
  width: 100%;
  height: auto;
}

.article-wrapper {
  color: #4a4a4a;
  font-weight: 500;
  padding: 0 2rem;
}
.card-category {
  font-size: 0.8rem;
  padding-top: 0.5rem;
}
.author-date-wrapper {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-description {
  font-size: 1.125rem;
  font-weight: 600;
  color: black;
  padding: 1rem 0;
}

.article-trending-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}

.article-trending-grid > img {
  /* width: 100%; */
  /* max-height: 100%; */
  /* max-height: 240px; */
  /* object-fit: fill; */
  object-fit: cover;
  width: 100%;
  height: auto;
}
.article-trending-grid > div {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2px;
  padding-left: 0.8rem;
}

.card-trending-description {
  font-weight: 600;
  color: black;
}

.card-trending-author {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: auto;
}

.card-trending-category {
  margin-top: auto;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}
footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 1rem;
}

footer div:first-of-type {
  font-size: 1.5rem;
}
footer div:nth-of-type(2) {
  font-size: 0.8rem;
}
footer div {
  padding: 0.2rem;
}

.today {
  display: none;
}

@media only screen and (min-width: 518px) {
  header {
    background-image: url("../images/moon.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
  }

  main {
    position: relative;
  }

  .hero {
    position: absolute;
    background: none;
    top: -15%;
    text-align: left;
  }

  .today {
    display: block;
    /* padding-top: -310rem; */
  }

  .hero-content {
    text-align: left;
    color: white;
  }

  .hero-content h5 {
    padding-left: 0.5rem;
  }
  h2,
  nav li {
    color: white;
  }

  nav ul {
    background-color: transparent;
  }
}

/* --------- card content------- */
.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.card-content .author {
  font-size: 14px;
  color: #888;
  margin: 0;
}

.card-content .category {
  font-size: 14px;
  color: #888;
  margin: 10px 0;
}
